*{
    margin: 0;
    padding:0;
}
body{
    background: url("assets/background.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    display:grid;
    place-items: center;
    overflow: hidden;
}
#road{
    background: url("assets/road2.png" )  repeat-y;
    background-size: 100% auto;
    height:1200vh;
    width:60vw;
    position:relative;
    top: -100vh;
    z-index: -9;
    /* animation:roadanimation 20s linear infinite; */
}
#start{
    position: absolute;
    z-index:100;
    font-size: 2rem;
    background-color: red;
    color: aliceblue;
    padding: 5px;
    border-radius: 20px;
    cursor:pointer;
}
#score{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size:2rem;
    padding:5px;
    background-color: aliceblue;
    border-radius: 20px;
    /* z-index: 110; */

}
#highScore{
    position: absolute;
    top: 20px;
    left: 1100px;
    font-size:1.8rem;
    padding:5px;
    background-color: aliceblue;
    border-radius: 20px;
    /* z-index: 110; */

}
#speedBooster{
    
    position:relative;
    width:100px;
    height:100px;
    left:0px;
    z-index: 1001;
    /* animation: enemyCarImage1 infinite linear 3s; */
}
#enemyCar1{
    
    position:relative;
    width:100px;
    height:100px;
    left:280px;
    z-index: 1001;
    /* animation: enemyCarImage1 infinite linear 3s; */
}
#enemyCar2{
 
    position:relative;
    width:100px;
    height:100px;
    left:100px;
    z-index: 1001;
    /* animation: enemyCarImage2 infinite linear 2s; */
}
#enemyCar3{

    position:relative;
    width:100px;
    height:100px;
    left:-120px;
    z-index: 1001;
    /* animation: enemyCarImage3 infinite linear 4s; */
}
#enemyCar4{
    
    position:relative;
    width:100px;
    height:100px;
    left:-295px;
    z-index: 1001;
    /* animation: enemyCarImage4 infinite linear 6s; */
}
#myCar{
    position:relative;
    width:100px;
    height:100px;
    top:14vh;
}

.enemyCarImg{
    width: 80px;
    /* border: 2px solid red; */
}
.speedBoosterImg{
    width:60px;
}

@keyframes ecar1{
    0%{
        top:-30vh;
    }
    100%{
        top:100vh;
    }
}
@keyframes ecar2{
    0%{
        top:-50vh;
    }
    100%{
        top:100vh;
    }
}
@keyframes ecar3{
    0%{
        top:-60vh;
    }
    100%{
        top:100vh;
    }
}
@keyframes ecar4{
    0%{
        top:-80vh;
    }
    100%{
        top:100vh;
    }
}
@keyframes roadanimation{
    0%{
        top:-1100vh;
    }
    100%{
        top:-200vh;
    }
}
@keyframes sbooster{
    0%{
        top:-80vh;
    }
    100%{
        top:100vh;
    }
}
.myCarImg{
    /* border:2px solid red; */
    width:80px;
}

.end-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.end-content {
    color: white;
    text-align: center;
}

#title{
    font-size: 70px;
    font-weight: bolder;
    font-style: italic;
    color: yellow;
    text-shadow: 5px 5px 5px red;
}
#gameOver{
    font-size: 140px;
    font-weight: bolder;
    font-style: italic;
    color: yellow
    
    /* text-shadow: 5px 5px 5px red; */
}
#titleAndGameOver{
    display: flex;
    flex-direction: column;
}
#scores{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-between;

}
#restartButton{
    /* position: absolute; */
    /* z-index:100; */
    font-size: 2rem;
    background-color: red;
    color: aliceblue;
    padding: 5px;
    border-radius: 20px;
    cursor:pointer;
}